img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color:papayawhip;
}

footer {
    text-align: center;
    background-color:papayawhip;
}

body {
    padding-bottom: 70px;
}

button {
    text-align: center;
    width: 100%;
}